In [30]:
import pandas as pd
import os
from Bio.Blast.Applications import NcbiblastpCommandline
import glob

In [32]:
def read_blast(file):
    return pd.read_csv(file, sep="\t", header=None,
                        names=["query_id", "subject_id", "pct_identity", "aln_length",
                                "n_of_mismatches", "gap_openings", "q_start", "q_end",
                                  "s_start", "s_end", "e_value", "bit_score"])

Leitura tabela de ortologos

In [35]:
outdir = os.path.join('..','data', 'blast_results','All_bacteria','*.tab')  # output
out_files = glob.glob(outdir)
df_ortho = pd.read_table(os.path.join('..','data', 'pairwise_orthologs','All_Bacteria','OrthoFinder','Results_Apr10','Orthogroups', 'Orthogroups.tsv'))
df_ortho = df_ortho.set_index('Orthogroup')
df_ortho = df_ortho.apply(lambda x : x.str.split(','), axis=1)

In [91]:
bacs = df_ortho.columns.tolist()

In [99]:
df_ortho

,Acinetobacter_baumannii,Mycobacterium_leprae,Mycobacterium_tuberculosis,Neisseria_gonorrhoeae,Pseudomonas_aeruginosa,Salmonella_enterica
Orthogroup,,,,,,
OG0000000,NaN,[g1114.t1],"[g1028.t1, g1043.t1, g1053.t1, g1054.t1, g...",NaN,NaN,NaN
OG0000001,NaN,"[g1455.t1, g1572.t1, g304.t1, g39.t1, g393...","[g1027.t1, g1120.t1, g1156.t1, g1185.t1, g...",NaN,NaN,NaN
OG0000002,NaN,NaN,NaN,NaN,"[g1082.t1, g1145.t1, g1155.t1, g1216.t1, g...","[g1564.t1, g246.t1, g2702.t1, g311.t1, g31..."
OG0000003,"[g260.t1, g466.t1]","[g1255.t1, g141.t1, g597.t1]","[g1021.t1, g2834.t1, g3206.t1, g486.t1, g5...",NaN,"[g1172.t1, g1194.t1, g1452.t1, g1825.t1, g...","[g1019.t1, g1149.t1, g1369.t1, g1639.t1, g..."
OG0000004,"[g115.t1, g262.t1, g453.t1]",[g1442.t1],"[g1339.t1, g1474.t1, g1908.t1, g1920.t1, g...",NaN,"[g1362.t1, g1485.t1, g1670.t1, g1853.t1, g...","[g1114.t1, g2030.t1, g2281.t1, g2803.t1]"
...,...,...,...,...,...,...
OG0003215,NaN,NaN,NaN,NaN,NaN,"[g3435.t1, g4081.t1]"
OG0003216,NaN,NaN,NaN,NaN,NaN,"[g3476.t1, g3477.t1]"
OG0003217,NaN,NaN,NaN,NaN,NaN,"[g3588.t1, g3644.t1]"
OG0003218,NaN,NaN,NaN,NaN,NaN,"[g3768.t1, g3769.t1]"
OG0003219,NaN,NaN,NaN,NaN,NaN,"[g3778.t1, g3779.t1]"

In [102]:
# for bac in bacs:
#     pd.DataFrame({bac: df_ortho[bac].explode().dropna().unique()}).melt()

Leitura outfiles do BLASTP

In [39]:
df = pd.concat(map(read_blast,out_files)).reset_index()

/tmp/ipykernel_2880/2561299924.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(map(read_blast,out_files))